POSTGRES_PASSWORD=troque-esta-senha
AUTH_SECRET=gerar-com-openssl-rand-base64-32
NEXTAUTH_URL=https://seu-dominio.com.br
RESEND_API_KEY=
EMAIL_FROM=Hub Mentorias <onboarding@resend.dev>
BUNNY_STREAM_LIBRARY_ID=
BUNNY_STREAM_API_KEY=
BUNNY_STREAM_PULL_ZONE=
